:root {
  --main-font: 'Trebuchet MS', Arial, sans-serif;
  --second-font: 'Exo2.0', 'Trebuchet MS', Arial, sans-serif;
  --main-text-color: #000000;
  --second-text-color: #666666;
  --light-text-color: #FFFFFF;
  --select-text-color: #1698D9;
  --default-color: var(--select-text-color);
  --second-color: #D91667;
}