<%- include('../layout/header.ejs') %>

<section class="products">
  <div class="wrapper">
    <h2 class="title">Ты сегодня покормил кота?</h2>
    <ul class="products__list">
      <li class="products__element">
        <article class="product">
          <div class="product__wrapper">
            <p class="product__subtitle">Сказочное заморское яство</p>
            <h3 class="product__title">Нямушка <span class="product__title-text">с фуа-гра</span></h3>
            <p class="product__description"><span class="product__description_selection">10</span> порций</p>
            <p class="product__description">мышь в подарок</p>
            <div class="product__weight">
              <p class="product__description-amount">0,5</p>
              <p class="product__description-text">кг</p>
            </div>
          </div>
          <p class="product__text">Чего сидишь? Порадуй котэ, <a class="link">купи.</a></p>
          <p class="product__text-select">Печень утки разварная с артишоками.</p>
        </article>
      </li>
      <li class="products__element">
        <article class="product product_disable">
          <div class="product__wrapper">
            <p class="product__subtitle">Сказочное заморское яство</p>
            <h3 class="product__title">Нямушка <span class="product__title-text">с рыбой</span></h3>
            <p class="product__description"><span class="product__description_selection">40</span> порций</p>
            <p class="product__description"><span class="product__description_selection">2</span> мыши в подарок</p>
            <div class="product__weight"> 
              <p class="product__description-amount">2</p>
              <p class="product__description-text">кг</p>
            </div>
          </div>
          <p class="product__text">Чего сидишь? Порадуй котэ, <a class="link">купи.</a></p>
          <p class="product__text-select">Головы щучьи с чесноком да свежайшая сёмгушка.</p>
        </article>
      </li>
      <li class="products__element">
        <article class="product">
          <div class="product__wrapper">
            <p class="product__subtitle">Сказочное заморское яство</p>
            <h3 class="product__title">Нямушка <span class="product__title-text">с курой</span></h3>
            <p class="product__description"><span class="product__description_selection">100</span> порций</p>
            <p class="product__description"><span class="product__description_selection">5</span> мышей в подарок</p>
            <p class="product__description">заказчик доволен</p>
            <div class="product__weight"> 
              <p class="product__description-amount">5</p>
              <p class="product__description-text">кг</p>
            </div>
          </div>
          <p class="product__text">Чего сидишь? Порадуй котэ, <a class="link">купи.</a></p>
          <p class="product__text-select">Филе из цыплят с трюфелями в бульоне.</p>
        </article>
      </li>
    </ul>
  </div>
</section>

<%- include('../layout/footer.ejs') %>